<%= turbo_frame_tag :active_sessions do %>
  <div class="relative bg-white p-4 rounded-lg shadow">
    <h2 class="text-lg font-semibold text-gray-700">
      Active Sessions
    </h2>
    <button data-controller="frame-refresh" data-frame-refresh-ids-value='["active_sessions"]' data-action="click->frame-refresh#refresh" class="absolute top-2 right-2">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"/></svg>
    </button>
    <p class="text-2xl font-bold text-gray-900 mt-2" role="content">
      <%= @session_count %>
    </p>
  </div>
<% end %>